* {
  margin: 0;
  padding: 0;
}

.container{
  width: 80%;
  margin: 0 auto;
}

/* HEADER */

header {
  height: 100px;
  background-color: #4ea0ff;
  background-image: url(../img/pattern.png);
  background-size: 30%;
}

header .logo {
  width: 200px;
  margin-top: 40px;
}

.article-box {

  margin: 10px;
  
}



/* MAIN */

h1 {
  font-size: 35px;
  line-height: 40px; /* spazio sopra e sotto uguale*/
}

main{
  padding: 15px;
}

/* article */

main .credits {
font-weight: 600;
color: #808080;
}

main .credits span {
  color: #20a9e5;
}

main .date {
  font-size: 12px;
  color: #c4bbbb;
  font-weight: 600;
}

main .featured-images{
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-description{
padding-bottom: 20px;
}

.image-description p{
  font-size: 12px;
}

/*paragraph & table*/

.paragraph{
  padding-bottom: 20px;
}

.evidenzia {

  background-color: yellow;
}

ul {
  padding-inline-start: 15px;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 20px;
}

thead {
  background-color: #20a9e5;
  color: white;
}

table thead th.testo{
  width: 50%;
}

.azzurro {
  background-color: #b1e5f2;
}

/*interest*/

.interest {
  font-size: 25px;
  font-weight: 600;
  color: #808080;


}

.interest h4 {
  margin-bottom: 20px;

}

.post {
  height: 200px;
  width: 200px;
  color: white;
  margin-bottom: 10px;
}

#post-1 {

  background-image: url('../img/monitor.jpg');
  background-repeat: no-repeat;

}

#post-2 {

  background-image: url('../img/graph.jpg');
  background-repeat: no-repeat;

}

.title-image{
  padding-left: 5px;
}